@model Solbakken.Models.ChangePasswordModel

@{
    ViewBag.Title = "Bytt passord";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Bruk skjemaet under for å bytte passord.</h2>
</hgroup>

<p class="message-info">
    Nye passord må være minst @Membership.MinRequiredPasswordLength bokstaver lange.
</p>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Klarte ikke å endre passord. Prøv å rette feilene.")

    <fieldset>
        <legend>Bytt passord</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Endre passordet" />
    </fieldset>
}
