@model Solbakken.Models.LoginModel

@{
    ViewBag.Title = "Logg inn";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Skriv inn brukernavnet og passordet under.</h2>
</hgroup>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="span6">
    @using (Html.BeginForm("LogOn", "Account", FormMethod.Post)) {
        @Html.ValidationSummary(true, "Klarte ikke å logge inn. Prøv å rette feilene og logg inn igjen.")

        <fieldset>
            <legend>Log inn</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" value="Logg in" />
        </fieldset>
        <p>
            @Html.ActionLink("Registrer deg", "Register") hvis du ikke har en konto.
        </p>
    }
</div>
<div class="span3 well">
    @Html.ActionLink("Glemt passordet ditt? Få tilsendt nytt.", "ResetPassword", "Account")
</div>