@model Solbakken.Models.RegisterModel

@{
    ViewBag.Title = "Registrer deg";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Bruk skjemaet under til å registrere en ny konto.</h2>
</hgroup>

<p class="message-info">
    Passordet må være minst @Membership.MinRequiredPasswordLength bokstaver langt.
</p>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("Register", "Account", FormMethod.Post)) {
    @Html.ValidationSummary(true, "Klarte ikke å opprette kontoen. Prøv å rette feilene.")

    <fieldset>
        <legend>Registreringsskjema</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Registrer deg" />
    </fieldset>
}
