@model Solbakken.Models.Album

@{
    ViewBag.Title = "Slett album";
}

<h2>Delete</h2>

<h3>Er du sikker på at du vil slette albumet? Alle bildene i albumet vil også bli slettet og kan ikke gjenopprettes. Det er @Model.Bilder.Count bilder i albumet</h3>
<fieldset>
    <legend>Album</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Navn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Navn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Opprettet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Opprettet)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Slett" /> |
        @Html.ActionLink("Tilbake  til listen", "Index")
    </p>
}
