@model Solbakken.Models.Album

@{
    ViewBag.Title = "Endre";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Album</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Navn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Navn)
            @Html.ValidationMessageFor(model => model.Navn)
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.Opprettet)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.Opprettet)
            @Html.ValidationMessageFor(model => model.Opprettet)
        </div>

        <p>
            <input type="submit" value="Lagre" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Tilbake til liste", "Index")
</div>
