@model IEnumerable<Solbakken.Models.Album>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Opprett nytt album", "Create")
</p>
<h3>Dine album</h3>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opprettet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Navn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opprettet)
        </td>
        <td>
            @Html.ActionLink("Endre", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |
            @Html.ActionLink("Slett", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
